* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}

/* -----------   header   ------------- */

header {
    padding: 10px 25px;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

header .logo{
    border: 1px black solid;
}

header nav{
    border: 1px black solid;
}

/* ------------  main  --------------*/


.presentacion {
    background-color: blueviolet;
    padding: 3%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.carrusel{
    width: 50%;
}
.carrousel-item img {
    height: 100px;
    width: 50%;
}

/*OJO ESTO DE LA 36 A LA 40 */

section{
    display: flex;
    justify-content: center;
}

.sobrenos {
    background-color: aqua;
    padding: 3%;
    height: 250px;
}

.proyectos{
    background-color: brown; 
    padding: 3%;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.proyectos div {
    width: 70%;
    
    margin: 3%;
}

.comotrabajamos {
    padding: 3%;
    height: 200px;
}

.contacto{
    background-color: blue;
    padding: 3%;
    height: 200px;
}

/* ----- titulo ----- */

/* OJO width del titulo nuestros proyectos esta distinto*/

.titulo {
    text-align: center;
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 2%;
    width: fit-content;
    height: fit-content !important;
    border-style: dashed solid !important;
    border-width: thick !important;
}

/* ---------- footer  ------------ */

footer{
    background-color: green;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer div {
    margin: 1%;
}






